
#body {
    margin: 0;
    padding: 0;
    background: "whitesmoke";
    font-family: "Noto Sans", sans-serif;
    color: #3d3d3d;
	}
#h3 {
    font-family: "Noto Sans", sans-serif;
    
    font-weight: normal;
    text-align: center;
    margin: 0;
}
	
#wrapper {
    width: 960px;
	margin: 15px auto;
	}

#logoimg{
          height:100%;
          min-height: 50px;  
      }


#map {
    position:absolute;
    top:10%;
    right:0px;
    bottom:0px;
    left:0px;
}

#full-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    z-index: 800;
    }

#static-tooltip{
    position: relative;
    top: 0;
    left: 15px;
    width: 60%;
    margin: auto;
    padding: 5px 5px;
    background: #aaaaaa;
    color: black;
    border: 3px solid black;
    border-radius: 3px;
    text-align: center;
    
}


#side-panel {
    position: relative;
    bottom: 0;
    left: 15px;
    width: 280px;
    margin: 20px auto;
    padding: 0 15px;
    background: #000000;
    color: white;
    border: 1px solid grey;
    border-radius: 3px;
    text-align: center;
    }

        p {
            font-size: .9em;
            line-height: 1.5em;
        }

        a {
            color: #005daa;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
.submit-Control {
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 10px;
	width: 300px;
    font-size: 14px;
}

#title{
    height: 50px;
    width: 100%;
}
#edbit{
    background: #d7d7d7;
    height: 100%;
    color: black;
    font-weight: bold;
}
#minimize{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.minimize:hover,
.minimize:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#box{
    max-height: 90%;
}
#refreshbutton{
    display: none;
}
#selectHUC{
    display:none;
}
#HUCshow{
    display:none;
}


.my-popup {
	pointer-events: none;
}
.my-popup .leaflet-popup-tip {
	background: rgba(0, 0, 0, 0) !important;
	box-shadow: none !important;
}
.my-popup .leaflet-popup-content-wrapper {
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 0px;
	border-radius: 2px;
}
#legend-panel{
    position:sticky;
    bottom:0;
    margin:auto;
    
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
	border: 2px solid rgba(1, 1, 1, 0.2);
	font-weight: bold;
}

.modal-header{
    background-color: darkslategrey;
}

.modal-title{
    margin: auto;
    color:white;
}

.carousel-control-next {
    filter: invert(100%);
}


.about-content {
  background-color: #fefefe;
  font-size: 25px;
  margin: auto;
  padding: 0px;
  border: 0px solid #888;
  width: 80%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-body{
    text-align: center;
}


.imgm{
    position: relative;
    width: 100%;
    height: ;
}


.imgf {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.imgf img {
  position:absolute;
  width: auto;
  height: 100%;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.imgf img.top:hover {
  opacity:0;
}



body.waiting * {
    cursor: progress;
}

@media (max-width: 991px){
    .about-content {
        padding: 5px;
        width: 90%;
        font-size: 20px;
    }
}